//
//  config.xcconfig
//  Inventori
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// You would need an Apple Developer account to run this app on a physical device.
// Find your Team ID here: https://developer.apple.com/account#membership-details
// (Scroll down to Membership details → Team ID).
DEVELOPMENT_TEAM = XXXXXXXXXX

// These bundle identifiers must be globally unique. It's highly recommended
// to use a reverse of your own domain name to avoid collisions.
PRODUCT_BUNDLE_IDENTIFIER_DEBUG = com.example.cherdon.app.inventori.dev
PRODUCT_BUNDLE_IDENTIFIER_NIGHTLY = com.example.cherdon.app.inventori.stg
PRODUCT_BUNDLE_IDENTIFIER_RELEASE = com.example.cherdon.app.inventori

// These app names will be displayed on the home screen of the device.
APP_NAME_DEBUG = Inventori (Dev)
APP_NAME_NIGHTLY = Inventori (Nightly)
APP_NAME_RELEASE = Inventori

URL_SCHEME_DEBUG = zd-inv
URL_SCHEME_DEBUG_2 = zd2-inv
URL_SCHEME_NIGHTLY = zn-inv
URL_SCHEME_NIGHTLY_2 = zn2-inv
URL_SCHEME_RELEASE = z-inv
URL_SCHEME_RELEASE_2 = zx-inv

// App version numbers.
MARKETING_VERSION = 0.0.1
CURRENT_PROJECT_VERSION = 1

// App Store Connect API keys.
// Get it at: https://appstoreconnect.apple.com/access/api
// See: https://developer.apple.com/documentation/appstoreconnectapi/creating_api_keys_for_app_store_connect_api
APP_STORE_CONNECT_API_KEY_ID = 788ZA8GSMP
APP_STORE_CONNECT_API_KEY_ISSUER_ID = 780f88cb-1bdb-4c4f-8537-da96e1f7f70d
APP_STORE_CONNECT_API_KEY_FILE_PATH = fastlane/DevTestingAuth.p8
